# {{ansible_managed}}
{# Make ports list unique #}
{% set ports={80: 1, 443: 1} -%}
{% for vhost in apache_virtualhosts -%}
{{ ports.update({vhost['listening_port']: 1})-}}
{% endfor -%}

{% for port,_ in ports.items() -%}
Listen {{ port }}
{% endfor -%}
