# {{ansible_managed}}
{# Make ports list unique #}
{{ set ports={} %}
{% for apache_virtualhosts|map(attribute='listening_port').items() in port %}
{{ ports.update({port: 1})}}
{% endfor %}

{% for ports.items() in port %}
Listen {{ port }}
{% endfor %}
